.head {
  display: flex;
  align-items: center;
  margin: 13px 0 14px;
  padding: 10px 0;
}
.head__link {
  display: inline-block;
  text-decoration: none;
  margin-right: 40px;
}
.head__logo-img {
  height: 32px;
  width: 93px;
}
.nav__list {
  width: 470px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav__link {
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
.head__link-page {
  display: inline-block;
  text-decoration: none;
  height: 52px;
  width: 193px;
  margin-left: auto;
  padding: 14px 40px;
  background: #0057FF;
  border-radius: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}